.title {
  font-size: 2em;
  font-weight: 600;
  /* background-color: mistyrose; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  width: 250px;
  padding-bottom: 7px;
  margin-bottom: 60px;
}

/* ----------- footer ------------- */
footer {
  height: 75px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
