/* font */
/* pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

@import "./reset.css";
@import "./index.css";

@import "./profile.css";
@import "./about-me.css";
@import "./stack-skills.css";
@import "./project.css";

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

#content {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
